<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPOCK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Process_Integrity_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ProcedureCurrentProcessingErrors" value="dbo.usp_GetCurrentProcessingErrors"/>
    <add key="EmailAlertSubject" value="Schedule and Process Operation ChecK Error Alert"/>
    <add key="Query_ListProcessNames" value="SELECT * FROM dbo.VW_AppList_BP_Processes ORDER BY [Name]"/>
    <!--<add key="Query_ListErrorTypes" value="SELECT * FROM dbo.VW_AppList_BP_ErrorTypes ORDER BY ErrorType" />-->
    <add key="MAPIEx_Log_Test" value="B:\Automation\PA_Test\MAPIEx_Diagnostics_Log\MAPIEx_Log.txt"/>
    <add key="MAPIEx_Log_Prod" value="B:\Automation\PA_Prod\MAPIEx_Diagnostics_Log\MAPIEx_Log.txt"/>
    <!-- place in a percentage, aka decimal format for example, .1 = 10%, .3 = 30% -->
    <add key="Process_Error_Threshold_Percentage" value=".1"/>
  </appSettings>
  <connectionStrings>
    <!-- 
    Rpt Prod: 10.8.18.154 - ngusappndc048.na.ngrid.net
    Rpt Prod New: AZABWPDUSD01.azure.na.ngrid.net
    -->
    <add name="RPA_Rpt" connectionString="Data Source=AZABWPDUSD01.azure.na.ngrid.net;Initial Catalog=RPA_Reporting;Integrated Security=False;{0}" providerName="System.Data.SqlClient"/>
    <add name="DSN_BP_Prod" connectionString="Data Source=10.57.12.10;Initial Catalog=BP_RPA_Prod_v6;Integrated Security=False;{0};Connection Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="DSN_BP_Stage" connectionString="Data Source=10.57.34.10;Initial Catalog=BP_RPA_Staging_v6;Integrated Security=False;{0};Connection Timeout=90" providerName="System.Data.SqlClient"/>
    <add name="DSN_BP_Test" connectionString="Data Source=10.57.34.10;Initial Catalog=BP_RPA_Test_v6;Integrated Security=False;{0}" providerName="System.Data.SqlClient"/>
    <add name="ExcelConnV12" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 12.0 Xml;HDR=NO;IMEX=1;"/>
    <add name="ExcelConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='EXCEL 8.0;IMEX=1;'" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <userSettings>
    <SPOCK.Properties.Settings>
      <setting name="DataRefreshMinuteTimespan" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DataRefreshPriorHourLimit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="IncludeLongRunningProcesses" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="EmailAlertingIsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailAlertEmailAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertMonday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertTuesday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertWednesday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertThursday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertFriday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertSaturday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertSunday" serializeAs="String">
        <value/>
      </setting>
      <setting name="EmailAlertingSelectedErrorTypes" serializeAs="String">
        <value/>
      </setting>
    </SPOCK.Properties.Settings>
    <Process_Integrity_Check.Properties.Settings>
      <setting name="DataRefreshMinuteTimespan" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DataRefreshPriorHourLimit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="IncludeLongRunningProcesses" serializeAs="String">
        <value>N</value>
      </setting>
    </Process_Integrity_Check.Properties.Settings>
  </userSettings>
</configuration>
